div{
    position: fixed;
    /* 这个50% 50%定位的是方块的左顶点，所以没有居中 */
    left: 50%;
    top:50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top:-50px;
    background-color: beige;
}