/* 这叫父子选择器 */


/* 只要父子关系成立就可以了 */


/* 所以也用可id */

div span {
    background-color: blue;
}

.a .b em {
    background-color: brown;
}


/* 直接子元素选择器，用一个>来表示div下的直接em*/

div>em {
    background-color: black；
}


/* 并列选择器
直接并列就行了 
用div不用空格直接加需要的选择器*/

div.demo {
    background-color: blanchedalmond
}